# Client level configurations, common across all sites to be monitored

defaultConfig:
  api_timeout: 10      # Api timeout in seconds 
  wait_time: 10           # Application Retry Wait time in seconds 

stats:
  endpoint:
    hostname: "127.0.0.1"
    port: 8443
  auth:
    user: ""
    pass: ""

proxyConfig:
  enabled: false
  host: "localhost"
  port: 80
  username: ""
  password: ""

metrics:
  - name: "answersSecure"
    alias: "Answers Secure"
    aggregationType: "AVERAGE"
    timeRollUpType: "AVERAGE"
    clusterRollUpType: "INDIVIDUAL"
  - name: "answersUnsecure"
    alias: "Answers Unsecure"
    aggregationType: "AVERAGE"
    timeRollUpType: "AVERAGE"
    clusterRollUpType: "INDIVIDUAL"
  - name: "answersUnwanted"
    alias: "Answers Unwanted"
    aggregationType: "AVERAGE"
    timeRollUpType: "AVERAGE"
    clusterRollUpType: "INDIVIDUAL"
  - name: "answersWithFormerr"
    alias: "Answers With Formerr"
    aggregationType: "AVERAGE"
    timeRollUpType: "AVERAGE"
    clusterRollUpType: "INDIVIDUAL"
  - name: "answersWithNodata"
    alias: "Answers With NoData"
    aggregationType: "AVERAGE"
    timeRollUpType: "AVERAGE"
    clusterRollUpType: "INDIVIDUAL"
  - name: "answersWithNoerror"
    alias: "Answers With NoError"
    aggregationType: "AVERAGE"
    timeRollUpType: "AVERAGE"
    clusterRollUpType: "INDIVIDUAL"
  - name: "answersWithNxdomain"
    alias: "Answers With NxDomain"
    aggregationType: "AVERAGE"
    timeRollUpType: "AVERAGE"
    clusterRollUpType: "INDIVIDUAL"
  - name: "answersWithRefused"
    alias: "Answers With Refused"
    aggregationType: "AVERAGE"
    timeRollUpType: "AVERAGE"
    clusterRollUpType: "INDIVIDUAL"
  - name: "answersWithServfail"
    alias: "Answers With ServFail"
    aggregationType: "AVERAGE"
    timeRollUpType: "AVERAGE"
    clusterRollUpType: "INDIVIDUAL"
  - name: "cacheHits"
    alias: "DNS Cache Hits"
    aggregationType: "AVERAGE"
    timeRollUpType: "AVERAGE"
    clusterRollUpType: "INDIVIDUAL"
  - name: "cacheMisses"
    alias: "DNS Cache Misses"
    aggregationType: "AVERAGE"
    timeRollUpType: "AVERAGE"
    clusterRollUpType: "INDIVIDUAL"
  - name: "cachePrefetches"
    alias: "DNS Cache Prefetches"
    aggregationType: "AVERAGE"
    timeRollUpType: "AVERAGE"
    clusterRollUpType: "INDIVIDUAL"
  - name: "queriesTotal"
    alias: "Queries Total"
    aggregationType: "AVERAGE"
    timeRollUpType: "AVERAGE"
    clusterRollUpType: "INDIVIDUAL"
  - name: "queriesTypeAaaa"
    alias: "Queries TypeAaaa"
    aggregationType: "AVERAGE"
    timeRollUpType: "AVERAGE"
    clusterRollUpType: "INDIVIDUAL"
