# Client level configurations, common across all sites to be monitored

defaultConfig:
  api_timeout: 10000

stats:
  endpoint:
    hostname: "127.0.0.1"
    port: 8443
  auth:
    user: ""
    pass: ""

proxyConfig:
  enabled: false
  host: "localhost"
  port: 80
  username: ""
  password: ""

metrics:
  - name: "answersSecure" 
    alias: "Answers Secure"
    aggregationType: "OBSERVATION"
    timeRollUpType: "AVERAGE"
    clusterRollUpType: "INDIVIDUAL"
